.btn {
  margin-top: 2.5rem;
  border-radius: 1.5rem;
  padding: 1rem 4rem;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: red;
}

.btn .btn__removeAll {
  display: none;
}

.btn:hover .btn__checkList {
  display: none;
}

.btn:hover .btn__removeAll {
  display: inline;
}
