.input {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  width: 30rem;
  margin-bottom: 2rem;
  transition: box-shadow 0.2s;
}

.input:hover {
  box-shadow: 0 0 1rem 1rem #431bc4;
}

.input__field {
  outline: 0;
  border: none;
  flex: 1;
}

.fa-plus {
  margin-right: 0.5rem;
}
